<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891118479292-88rosqf4hk4j414f35oi7lmhhob4iems.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891118479292-88rosqf4hk4j414f35oi7lmhhob4iems</string>
	<key>API_KEY</key>
	<string>AIzaSyBs6RIQj-DduyfbeW3p6nUIPjDnu-lSvKs</string>
	<key>GCM_SENDER_ID</key>
	<string>891118479292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AZSTest</string>
	<key>PROJECT_ID</key>
	<string>kuvashose</string>
	<key>STORAGE_BUCKET</key>
	<string>kuvashose.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891118479292:ios:62c6f5a69a2179567b6db9</string>
	<key>DATABASE_URL</key>
	<string>https://kuvashose.firebaseio.com</string>
</dict>
</plist>